header {
    height: 50vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background-color: #4b35b3;
    padding: 5%;
}

header img {
    width: 100%;
    max-height: 100%;
}

main {
    display:flex;
    justify-content:center;
    align-items:center;

    height: 50vh;
}

main h1 {
    margin: 0;
    font-size: 10rem;
    color: black;
}

main h1#countdown {
    font-family: 'DSEG7-Classic';
}
